header {
    background-color: #39a900;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 3rem;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: white;
}

.image-profile{
    width: 18rem;
    height: 18rem;
    border-radius: 50rem;
    object-fit: cover;
}

h1{
    font-size: 2.6rem;
}

.line{
    width: 85%;
    border: solid 3px white;
}

.a-menu{
    /* border: solid 2px red; */
    font-size: 2rem;
    font-weight: 600;
    color: #c1ff95;
    text-shadow: 0px 0px 1px black 
                ,2px 2px 1px #49da00;
    letter-spacing: 1px;
}

.image-sena-header{
    width: 11rem;
    height: 11rem;
    border-radius: 50rem;
    object-fit: cover;
    background-color: white;
    padding: 5px;
    box-shadow: 0px 0px 3px black;
}

.ul-socialNetwork{
    background-color: #222;
    display: flex;
    width: auto;
    height: 4rem;
    gap: 3rem;
    padding: 7px 1.3rem 0px 1.3rem;
    align-items: center;
    justify-content: center;
    border-radius: 10rem;
}

.socialNetwork{
    color: white;
    font-size: 2rem;
}