header {
    /* border: solid 5px green; */
    background-color: #39a900;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
}

.image {
    /* border: solid 5px red; */
    width: 18rem;
    height: 18rem;
    border-radius: 50rem;
    object-fit: cover;
}

.line{
    width: 80%;
    border: solid 2px white;
}