*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  /* border: solid blue 10px; */
}
.root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family:Arial, Helvetica, sans-serif ;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  
  /* border: solid red 4px; */
}



